<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZDToolKitDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZDToolKitFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05EC9C651C53CDC300BACFE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05EC9C7E1C53CDC300BACFE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05EC9C891C53CDC300BACFE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC7DE25B1E35DADD00F508E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC7DE2631E35DADD00F508E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
